html {
    position: relative;
    min-height: 100%;

}

* {
    margin: 0;
}

body,
html {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -60px;
    height: 100%;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer,
.page-wrap:after {
    height: 60px;
}

.site-footer {
    background-color: #f5f5f5;
    text-align: center;
    line-height: 60px;
}

#preview-image {
    max-width: 95%;
    max-height: 95%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: contain;

}

.container{
    margin-bottom:20px;
}
#dropzone {
    /* box-sizing: border-box; */


    background-color: #f4f4f4;
    outline: 2px dashed black;
    height: 400px;
    width: 400px;

    left: 50%;
    margin-left: -200px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

#dropzone.hover {
    background-color: lightgray;
}

/* The outer dropzone including shape */
#dropmask {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 50;
    position: absolute;
    cursor: pointer;
    /* background-color: rgba(200,22,0, 0.2); */
}

#dropmask.hidden {
    display: none;
}

#dropcontent {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropcontent:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}


label {
    cursor: pointer;
    z-index: 10;
    /* Style as you please, it will become the visible UI component. */
}

#file-input {
    opacity: 0;
    position: absolute;
    /* border: 1px solid blue; */
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.form-group {
    position: relative;
    padding-bottom: 150px;
    margin: auto;
}

#browse-label {
    font-size: 20pt;
}

#finished-gif {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
}

#gif-holder {
    display: none;
    text-align: center;
    height: 100%;
}

.response-btn {
    margin-top: 425px;
    margin-left: 6px;
    margin-right: 6px;
}

#close-image-btn {
    position: absolute;
    top:2px;
    right:2px;
    z-index: 99;
    font-size: 2em;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}



#content-holder {
    height: 475px;
    margin-top: 50px;
}

.button-holder {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    left: 0;
}

#left-dec {
    float: left;
}

#right-dec {
    float: right;
}

.dec {
    height: 100%;
    width: 20%;
}

@media screen and (max-width: 800px) {
    .dec {
        display: none;
    }
}

#conga-row-container{
    max-height: 60px;
}

#share-link .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    display: none;
  }
  
  #share-link:hover .tooltiptext {
    visibility: visible;
  }