<!DOCTYPE html>
<html lang="en">
<head>
    <title>Not found</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" type = "text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom site css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    {% include "favicons.html" %}

    <style>
        .center{
            margin:auto;
            width: 50%;
            text-align: center;
            padding-top: 20%;
            /* margin-top:20% */
        }
        .internal{
            padding-top:40px;
        }
    </style>
</head>

<body>
    <div class="page-wrap">
        <div class="center">
            <div class="internal">
                404. Page not found.
            </div>
            <div class="internal">
                <img src=" {{url_for('static', filename='confusedparrot.gif')}}" alt="confusedparrot" height=100 width=100>
            </div>
            <div class="internal">
                <button onclick="window.location.href='/'" class="btn btn-primary">Return home</button>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
    <!-- Bootstrap js files (includes jquery and popper) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

