<!DOCTYPE html>
<html style="height: 100%;">


<head>
    <title>Parrotify</title>
    <!-- Jquerry i give up
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    Not today suckkers
    -->
    <!-- For mobile friendliness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom CSS -->
    <!-- Custom site CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/parrot16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/parrot32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/parrot96.png') }}" sizes="96x96">

</head>

<body style="height: 100%;">
    <div class="page-wrap">


    <div id="left-dec" class="dec">

    </div>
    <div id="right-dec" class="dec">

    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div style="text-align: center;">
                    <h1>Parrotify.me</h1>
                    <h3> Choose a face to parrotify
                </div>
                <hr>
                <div id="content-holder">
                    <form id="image-form" style="height: 100%;">
                        <div class="form-group">

                            
                            <div class="custom-file">
                                <div id="dropzone">
                                    <button id="close-image-btn" type="button" class="close hidden" aria-label="Close"
                                        onclick="reset_click()">
                                        <span aria-hidden="true">&times;&nbsp;</span>
                                    </button>

                                    <div id="dropmask" class="hidden"></div>
                                    <div id="dropcontent">

                                        <label for="file-input" id="browse-label">Drop or browse face</label>
                                        <input type="file" name="image" id="file-input" accept="image/*"/>
                                        <img src="#" id="preview-image" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-holder">
                            <button id="submit-button" type="submit" class="btn btn-primary">Parrotify</button>
                        </div>
                    </form>
                    <div id="gif-holder">
                        <a id="finished-gif-link" style="height: 100%;" href="#" download="parrot_face.gif">
                            <img src="#" id="finished-gif" alt="oh oh something aint right"
                                style="border: 1px solid grey;">
                            <div class="button-holder" >
                                <button id="download-button" class="btn btn-primary">Download</button>
                            </div>
                        </a>
                        <div class="button-holder"style="bottom: -50px;">
                            <button id="download-button" class="btn btn-secondary" onclick="reset_click()">Parrotify another face!</button>
                        </div>
                    </div>

                </div>





                </div>
            </div>
        </div>
    </div>
    </div>


    {% include "footer.html" %}

    <!-- Bootstrap js files (includes jquery and popper) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- GIF.js gif encoder/decoder -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='scripts/gif.js') }} "></script> -->

    <!-- Site js functionality -->
    <script type="text/javascript" src="{{ url_for('static', filename='code.js') }}"></script>
</body>

</html>