<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Parrotify.me</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" type = "text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom site css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    {% include "favicons.html" %}

    <style>
        .center{
            margin:auto;
            width: 50%;
            text-align: center;
            padding-top:20%
        }
        .btns{
            margin: 20px;
        }
        #rainbow-btn:hover  {
            background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet) !important;
        }
        a:hover{
            background:red;
        }
    </style>

</head>

<body>
    <div class="page-wrap">
        <div style="text-align: center; width:100%;">
            <h1>Parrotify.me</h1>

        </div>
        <div class="center">
            <p style="margin-top:8px;">Your friend has become a parrot and wanted to share!</p>

            <img src="/raw_gif/{{image_id}}.gif" height="128" width="128">
            <div class="btns">
                <a href="/" class="btn btn-primary">I want to be a parrot, too!</a>
                <a href="/raw_gif/{{image_id}}.gif" download="parrotyify.gif" class="btn btn-secondary" >Download</a>
            </div>
            <div class="btns">
                <a href="#" id="rainbow-btn" class="btn btn-primary rainbow-hover">More buttons!!!!!</a>
                <a href="#" id='blah-btn'>blah</a>
            </div>
        </div>
    </div>
    {% include "footer.html" %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>