<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Parrotify.me</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" type = "text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom site css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    {% include "favicons.html" %}

</head>

<body>
    <p> Share me!</p>
    <div>
        Your id is: {{image_id}}
        <img src="#" height="32" width="32" style="border: 1px solid red;">
    </div>
</body>
</html>