/* https://coolors.co/palette/f08080-f4978e-f8ad9d-fbc4ab-ffdab9 */

/* @import url("https://rsms.me/inter/inter.css"); */

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html {
  position: relative;
  min-height: 100%;
}

* {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  color: #2f2f2f;
  padding: 15px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffdab9;
}

.btn {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

.btn-primary {
  background-color: #f08080;
  border-color: #f08080;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 0.8rem;
}

.btn-primary:hover {
  background-color: hsl(0, 58%, 59%);
  border-color: hsl(0, 58%, 59%);
  cursor: pointer;
}

.btn-secondary {
  /* background-color: #f08080; */
  border-color: #f08080;
  padding: 5px 7px;
  font-weight: 400;
  border-radius: 0.4rem;
}

.btn-secondary:hover {
  background-color: hsl(0, 58%, 59%);
  border-color: hsl(0, 58%, 59%);
  cursor: pointer;
}

body,
html {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.site-footer {
  /* background-color: #f5f5f5; */
  text-align: center;
  line-height: 60px;
  margin-top: auto;
}

#preview-image {
  max-width: 95%;
  max-height: 95%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
}

.container {
  padding-bottom: 100px;
  padding-top: 20px;
  text-align: center;
}
#dropzone {
  /* box-sizing: border-box; */

  background-color: rgb(244, 244, 244, 0.4);
  height: 100%;
  width: 100%;

  border-style: dashed;
  border-width: 5px;
  border-color: #d0d0d0;
}

#dropzone.hover {
  background-color: lightgray;
}

/* The outer dropzone including shape */
#dropmask {
  height: 100%;
  width: 100%;
  display: block;
  z-index: 50;
  position: absolute;
  cursor: pointer;
  /* background-color: rgba(200,22,0, 0.2); */
}

#dropmask.hidden {
  display: none;
}

#dropcontent {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #dropcontent:hover {
  cursor: pointer;
} */

.hidden {
  visibility: hidden;
  cursor: default;
}

label {
  cursor: pointer;
  z-index: 10;
  /* Style as you please, it will become the visible UI component. */
}

#file-input {
  opacity: 0;
  position: absolute;
  /* border: 1px solid blue; */
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.form-group {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
}

#browse-label {
  font-size: 20pt;
}

#finished-gif {
  height: 100%;
  width: 100%;
}

#gif-holder {
  display: none;
  text-align: center;
  height: 100%;
}

.response-btn {
  margin-top: 425px;
  margin-left: 6px;
  margin-right: 6px;
}

#close-image-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 99;
  font-size: 2em;
  background-color: transparent;
  border: 0px;
}

#close-image-btn:hover {
  cursor: pointer;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

#content-holder {
  --view-size: min(400px, 80vw);
  height: var(--view-size);
  width: var(--view-size);
  margin: auto;
}

.button-holder {
  text-align: center;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  left: 0;
  padding-top: 20px;
}

#left-dec {
  float: left;
}

#right-dec {
  float: right;
}

.dec {
  height: 100%;
  width: 20%;
}

@media screen and (max-width: 800px) {
  .dec {
    display: none;
  }
}

.parrot {
  z-index: -50;
  height: inherit;
  right: 100%;
  position: absolute;
}

.parrot-slider {
  --parrot-size: 125px;
  --parrot-time: 5s;
  animation: right-scrolling var(--parrot-time) linear;
  height: var(--parrot-size);
  width: calc(var(--parrot-size) + 100%);
  position: fixed;
  z-index: -100;
}

@keyframes right-scrolling {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
